main {
  max-width: 75%;
  margin: auto;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-column-gap: 1rem;
  margin: 1.5rem;
}

.result-box {
  height: 106px;
  overflow: scroll;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 1rem;
  padding: 1rem;
}
