.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-column-gap: 1rem;
  margin: 1.5rem;
}

.result-box {
  height: 106px;
  overflow: scroll;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 1rem;
  padding: 1rem;
}
